<ion-header>
  <ion-toolbar style="--background: url(../assets/imgs/background16.jpg);">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content style="--background: url(assets/imgs/background16.jpg) center / 100%;" >
<ion-list style="background: #ffffff00;padding: 0px;">
  <ion-item (click)="ChangeAccountU()" class="onclick" style="background: #47464740;border-bottom-color: #040d0e;border-bottom-style: solid;border-bottom-width: thin;" >
    <ion-icon slot="start" name="person"></ion-icon>
    <h3>Modify User</h3>
  </ion-item>
  <ion-item (click)="ChangePasswordU()" class="onclick" style="background: #47464740;border-bottom-color: #040d0e;border-bottom-style: solid;border-bottom-width: thin;">
    <ion-icon slot="start" name="lock"></ion-icon>
    <h3>Modify Password</h3>
  </ion-item>
</ion-list> 
</ion-content>